!
{% for link in p2p_links %}
{%     if inventory_hostname == link.leaf_hostname %}
interface {{ link.leaf_interface }}
   description P2P link to {{ link.spine_hostname }}
   no switchport
   ip address {{ link.leaf_ip }}
   no shutdown
!
{%     elif inventory_hostname == link.spine_hostname %}
interface {{ link.spine_interface }}
   description P2P link to {{ link.leaf_hostname }}
   no switchport
   ip address {{ link.spine_ip }}
   no shutdown
!
{%     endif %}
{% endfor %}
